---
layout: default
title: Home
---
<div class="aboutme">
<h3>About this website</h3>
<p>You will find some information about me and some links to resources, tools, and projects I have been working on. However, at present, this website does not contain everything about research and : it is still a i<i>work-in-progress</i>.</p>
<p>I am a researcher whose work is based on textual criticism and digital humanities. I am always interested in working on interdisciplinary projects and exploring several methods in computer science.</p><p>
I has been involved in anti-racist and feminist activism for many years, developing my interest the in construction of online identities. </p>
</div>


<h3 class="section">Relevant news</h3>
<div class="items">
  {% assign news = site.news | reverse %}
  {% for item in news %}
    <div class="item">
      <div class="period">{{ item.period }}</div>
      <h3 class="post-title">{{ item.title }}</h3>

      {{ item.content }}
    </div>
  {% endfor %}
</div>

<h3 class="section">Relevant Projects</h3>
<div class="items">
  {% assign projects = site.projects | reverse %}
  {% for item in projects %}
    <div class="item">
      <div class="period">{{ item.period }}</div>
      <h3 class="post-title"><a href="{{ item.link }}">{{ item.title }}</a></h3>
      
      <a href="{{ item.link }}"><img src="{{ item.image }}" alt="{{ item.title }}" class="projectImage" /></a>
      <div class="right">{{ item.content }}</div>
    </div>
  {% endfor %}
</div>
