h1 a:hover,
h1 a:focus {
  text-decoration: none;
}

nav .links {
  margin-top: 4em;
}

.copyright {
  font-size: 0.7em;
}

.item {
  margin-bottom: 1.5em;
  font-size: 0.8em;
}

.item h3 {
  font-size: 1.3em;
}

.item h4 {
  font-size: 1em;
}

.section {
  margin-top: 2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}

.period {
  text-align: right;
  font-size: 0.8em;
}
